#contact {
	margin-bottom: responsive(50, 100);
	.container {
		@media(min-width: 1000px) {
			display: flex;
			align-items: flex-end;
		}

		iframe {
			width: 100%;
			margin-bottom: 30px;
			@media(min-width: 1000px) {
				width: 65%;
				margin-bottom: 0;
				height: 450px;
			}
		}

		.info {
			color: $blue;
			font-size: responsive(12, 20);
			margin-left: 20px;
			@media(min-width: 1000px) {
				width: 25%;
			}

			a {
				color: $blue;
				display: block;
			}

			.title {
				font-size: responsive(32, 72);
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}