#header {
	background-color: $blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 20px 5%;
  box-sizing: border-box;
  @media(min-width: 1000px) {
  	align-items: baseline;
  }

	.logo{
		img {
			height: responsive(80, 140);
			width: auto;
		}
	}

	.menu {
		@media(min-width: 1000px) {
			display: flex;
		}

		li {
			font-size: responsive(12, 26);
			color: $white;
			font-family: Gotham;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 3px;
			@media(min-width: 1000px) {
				margin-bottom: 0;
			}
			a {
				margin-right: responsive(10, 20);
				color: $white;
  			font-style: italic;
			}
			&:after {
				@media(min-width: 1000px) {
					content: 'I';
					margin-right: responsive(10, 20);
				}
			}
			&:last-child {
				a {
					margin-right: 0;
				}
				&:after {
					content: '';
				}
			}
		}
	}
}